<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/app.css")

</head>
<body>
    <nav class="navbar bg-primary navbar-expand-lg navbar-light color-white">
        @Html.ActionLink("Chanpan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    @Html.ActionLink("Inicio", "Index", "Home", new object { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Nosotros", "About", "Home", new object { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">@Html.ActionLink("Todos los productos", "Contact", "Home", new object { }, new { @class = "nav-link" })</a>
                        <a class="dropdown-item" href="#">@Html.ActionLink("Mas vendidos", "Contact", "Home", new object { }, new { @class = "nav-link" })</a>
                        <a class="dropdown-item" href="#">@Html.ActionLink("Ofertas", "Contact", "Home", new object { }, new { @class = "nav-link" })</a>
                    </div>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Inicia sesion", "About", "Home", new object { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Registrate", "About", "Home", new object { }, new { @class = "nav-link" })
                </li>

            </ul>
            <ul>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
   
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="row justify-content-center">
                <div class="col-10 text-center">
                    <hr class="style-two" />
                    <p>&copy; @DateTime.Now.Year - Organic bread S.A de C.V</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
