
@using Ecommerce.Models
@{
    ViewBag.Title = "Carrito";
}

    <h3>Carrito de compra</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Opción</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Foto</th>
            <th>Prrecio</th>
            <th>Cantidad</th>
            <th>Sub Total</th>
        </tr>
        @if ((List<Carrito>)Session["carro"] != null)
        {
            foreach (Carrito item in (List<Carrito>)Session["carro"])
            {
                <tr>
                    <td><a href="@Url.Action("Eliminar", "Carrito", new { id = item.Productos.Id })">Eliminar</a></td>
                    <td>@item.Productos.Id</td>
                    <td>@item.Productos.Nombre</td>
                    <td><img src="~/Content/@item.Productos.Url_image" width="60" /> </td>
                    <td>@item.Productos.Precio_final</td>
                    <td>@item.Cantidad</td>
                    <td>@(item.Productos.Precio_final* item.Cantidad)</td>
                </tr>
            }

            <tr>
                <td align="right" colspan="6">Sum</td>
                <td>
                    @{
                        List<Carrito> carro = (List<Carrito>)Session["carro"];
                        var total = carro.Sum(item => item.Productos.Precio_final * item.Cantidad);
                    }
                    @total
                </td>
            </tr>
        }
    </table>
