
@using Ecommerce.Models
@{
    ViewBag.Title = "Carrito";
}
    <div class="text-center pt-5 bg-pan1">

        @if (ViewBag.message != null)
        {
            <div class="alert alert-success mx-5 shadow" role="alert">
                <h3>Compra completa</h3>
            </div>
        }

        @if ((List<Carrito>)Session["carro"] != null)
        {
            <h3 class="text-white">Carrito de compra</h3>
            if (!Request.IsAuthenticated)
            {
                <div class="alert alert-warning mx-5" role="alert">
                    <h3>Es nesesario que inicies session para continuar</h3>
                </div>
            }
            <div class="row justify-content-end px-5">
                @if (Request.IsAuthenticated)
                {
                    <div class="justify-self-end mb-5">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseMetodos" role="button" aria-expanded="false" aria-controls="collapseMetodos">
                            Completar Compra
                        </a>
                    </div>
                    <br />
                    <div class="collapse bg-semitanparente" id="collapseMetodos">
                        <div class="card card-body">
                            <select name="metodoPago">
                                @foreach (KeyValuePair<int, string> metodo in ViewBag.metodo)
                                {
                                    <option value="@metodo.Key">@metodo.Value</option>

                                }
                                @if (ViewBag.cliente.Tipo_targeta != null)
                                {
                                    <option type="text" name="targeta">Targeta @ViewBag.cliente.No_targeta</option>
                                }
                            </select>
                            @*@if (ViewBag.cliente.Tipo_targeta == null)
                            {
                                <input type="text" name="targeta" />
                                <input type="text" name="cvs" />
                            }
                            else
                            {
                                <label>@ViewBag.cliente.Tipo_targeta CVS</label>
                                <input type="text" name="cvs" />
                            }*@

                            <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#Modal">
                                Terminar compra
                            </button>
                        </div>
                    </div>
                }
                <table class="table table-dark pt-5 table-responsive-lg">
                    <tr>
                        <th>Opción</th>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Sub Total</th>
                    </tr>

                    @foreach (Carrito item in (List
                    <Carrito>
                        )Session["carro"])
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Eliminar", "Carrito", new { id = item.Productos.Id })">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            <td>@item.Productos.Nombre</td>
                            <td><img src="~/Content/@item.Productos.Url_image" width="60" /> </td>
                            <td>@item.Productos.Precio_final</td>
                            <td>
                                @item.Cantidad
                                <a href="@Url.Action("Cantidad","Carrito",new {Id = item.Productos.Id, mas = true })">
                                    <i class="fas fa-plus"></i>
                                </a>
                                @if (item.Cantidad > 1)
                                {
                                    <a href="@Url.Action("Cantidad","Carrito",new {Id = item.Productos.Id, mas = false })">
                                        <i class="fas fa-minus"></i>
                                    </a>
                                }
                            </td>
                            <td>@(item.Productos.Precio_final * item.Cantidad)</td>
                        </tr>
                    }

                    <tr>
                        <td align="right" colspan="6">Sum</td>
                        <td>
                            @{
                                List<Carrito> carro = (List<Carrito>)Session["carro"];
                                var total = carro.Sum(item => item.Productos.Precio_final * item.Cantidad);
                            }
                            @total
                        </td>
                    </tr>
                </table>
            </div>
        }
        else
        {
            <div class="">
                <h3 class="text-white">Sin Productos en el carrito</h3>
            </div>
        }
    </div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Terminar compra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary" role="alert">
                    Finalizar compra estas pro terminar la compra
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a class="btn btn-primary" href="@Url.Action("TerminarCompra", "Carrito")">
                    Finalizar compra
                </a>
            </div>
        </div>
    </div>
</div>
