@model IEnumerable<Ecommerce.Models.Productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProducts.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sabor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo_unitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Porcentage_descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.ActionLink("Fecha caducidad", "Index", new { sortOrder = ViewBag.DateSortParm })    
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_ventas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            <img src="~/Content/@item.Url_image" style="height:100px; width:100%" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sabor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo_unitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Porcentage_descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_caducidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad_ventas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
