@using Ecommerce.Models
@using Microsoft.AspNet.Identity.EntityFramework

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<div class="container">
    <div class="row justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Correo electronico</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (ApplicationUser us in ViewBag.Usuarios)
                {
                    <tr>
                        <td>@us.Nombre</td>
                        <td>
                            @foreach (IdentityRole rol in ViewBag.Roles)
                            {
                                @(us.Roles.Count > 0 && rol.Id.Equals(us.Roles.ElementAt(0).RoleId) ? rol.Name : "")
                            }
                        </td>
                        <td>@us.Email</td>
                        <td>@(us.Male ? "Hombre" : "Mujer")</td>
                        <td>@us.FechaNaciemiento.ToShortDateString()</td>
                        <td>
                            
                            <button data-toggle="modal" data-target="#ModalDir">
                                Ver
                            </button>

                        </td>
                        <td>
                            <a href="@(us.Active ? Url.Action("ModificaEstado",new { id = us.Id}) : Url.Action("ModificaEstado",new { id= us.Id}))">
                                @if (us.Active)
                                {
                                    <i class="fas fa-toggle-on fa-2x"></i>
                                }
                                else
                                {
                                    <i class="fas fa-toggle-off fa-2x"></i>
                                }

                            </a>
                        </td>
                        <td>Modificar ! Eliminar</td>
                    </tr>



                }


            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="ModalDir" tabindex="-1" role="dialog" aria-labelledby="DirModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
    





