@using Ecommerce.Models;
@{
    ViewBag.Title = "Home Page";
    var Sales = (List<Productos>)ViewBag.Sales;
    var Offers = (List<Productos>)ViewBag.Offers;
}
<div class="container-fluid p-0 bg-pan1">
    <div class="container p-5 d-flex align-items-center h-100">
        <div class="row align-items-center justify-content-center bg-semitanparente shadow">
            <div class="col-3">
                <div class="text-center">
                    <h3>Mas vendido</h3>
                </div>
                <div class="card mb-3" style="width: 100%; height:auto">
                    <img src="~/Content/@Sales[0].Url_image" class="card-img-top" style="max-height:250px">
                    <div class="card-body">
                        <h5 class="card-title">@Sales[0].Nombre</h5>
                        <p class="card-text">Desciprcion: @Sales[0].Descripcion</p>
                        <p class="card-text">Costo Final: @Sales[0].Precio_final</p>
                        <a href="@Url.Action("Comprar", "Carrito", new { id = Sales[0].Id })" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;">
                            <i class="fas fa-cart-plus fa-lg"></i>
                        </a>                    
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="~/Content/img/logo.png" class="w-100"/>
            </div>
            <div class="col-3">
                <div class="text-center">
                    <h3>En oferta</h3>
                </div>
                <div class="card mb-3" style="width: 100%; height:auto">
                    <img src="~/Content/@Offers[0].Url_image" class="card-img-top" style="max-height:250px">
                    <div class="card-body">
                        <h5 class="card-title">@Offers[0].Nombre</h5>
                        <p class="card-text">Desciprcion: @Offers[0].Descripcion</p>
                        <p class="card-text">Costo Final: @Offers[0].Precio_final</p>
                        <a href="@Url.Action("Comprar", "Carrito", new { id = Offers[0].Id })" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;">
                            <i class="fas fa-cart-plus fa-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: rgba(252, 243, 202, 0.7); margin-top:3%;">
                <div class="card-body">
                    <div class="row">
                        <h3 class="card-title">Los más vendidos</h3>
                    </div>

                    <div class="row">
                   @for (int i = 1; i < 5 && i < Sales.Count; i++)
                        {
                        <div class="col-md-3">
                            <div class="card" style="background-color: #f9f2e2">
                                <div class="card-body">
                                    <h5 class="card-title">@Sales[i].Nombre</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@Sales[i].Descripcion<br />$@Sales[i].Precio_final</h6>
                                    <img class="mx-auto d-block" src="~/Content/@Sales[i].Url_image" alt="Alternate Text" style="margin-top:15px" />

                                    <a href="@Url.Action("Comprar", "Carrito", new { id = Sales[i].Id })" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;"><i class="fas fa-cart-plus fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: rgba(252, 243, 202, 0.7); margin-top:3%;">
                <div class="card-body">
                    <div class="row">
                        <h3 class="card-title">Ofertas</h3>
                    </div>

                    <div class="row">
                        @for (int i = 1; i < 5 && i < Offers.Count; i++)
                        {
                            <div class="col-md-3">
                                <div class="card" style="background-color: #f9f2e2">
                                    <div class="card-body">
                                        <h5 class="card-title">@Offers[i].Nombre</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">@Offers[i].Descripcion<br />$@Offers[i].Precio_final</h6>
                                        <img class="mx-auto d-block" src="~/Content/@Offers[i].Url_image" alt="Alternate Text" style="margin-top:15px" />

                                        <a href="@Url.Action("Comprar", "Carrito", new { id = Offers[i].Id })" class="btn btn-success mx-auto d-block" style="margin-top:20px;width:130px;">
                                            <i class="fas fa-cart-plus fa-lg"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>