@using Ecommerce.Models;
@{
    ViewBag.Title = "Tienda";
}
    <div class="bg-pan2">
        <div class="text-center pt-5">
            <h1 class="text-white"  >Catalogo</h1>
        </div>
        <div class="catalog-categories">
            <ul class="nav justify-content-between px-5">
                @foreach (Catalogos catalog in ViewBag.catalogos)
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Tienda", "Home",
                          new { Id = catalog.Id } )"
                           class="navbar-brand link-catalog" title="List View">
                            <h3>@catalog.name</h3>
                        </a>
                    </li>
                }

            </ul>
        </div>
        <div class="container p-5 my-5 bg-semitanparente">
            <div class="row">
                @foreach (Productos producto in ViewBag.productos)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="width: 100%;">
                            <img src="~/Content/@producto.Url_image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@producto.Nombre</h5>
                                <p class="card-text">Desciprcion: @producto.Descripcion</p>
                                <p class="card-text">Costo Final: @producto.Precio_final</p>
                                <a class="agregar-carrito" href="@Url.Action("Comprar", "Carrito", new { id = producto.Id })">Comprar ahora</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>