@using Ecommerce.Models;
@model Ecommerce.Models.Empleados
@{
    ViewBag.Title = "Compra proveedor";
    Layout = "~/Views/Shared/_LayoutProvedores.cshtml";
}

<h2>Compra proveedor</h2>
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-1">
            <label>Proveedor:</label>
        </div>
        <div class="col-md-4">
            @ViewBag.Compra_proveedor.Nombre
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Tipo de Pago:</label>
        </div>
        <div class="col-md-4">
            <select>
                <option value="3">Contado</option>
            </select>
        </div>


    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Total:</label>
        </div>
        <div class="col-md-4">
            @ViewBag.Compra_total
        </div>

    </div>
    <div class="text-right">  
            <p>
                <button class="btn btn-success" type="button" data-toggle="modal" data-target="#compra">Comprar producto</button>
            </p>
        <div class="modal" id="compra">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Pedido</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <tr>

        <th>
            Cantidad
        </th>
        <th>
            Productos
        </th>
        <th>
            Subtotal
        </th>
        <th>
            Fecha de vencimiento
        </th>
        <th></th>
    </tr>
    @if (ViewBag.Compra_detalles != null)
    {
        foreach (DetalleCompras item in ViewBag.Compra_detalles)
        {
            <tr>
                <td>
                    @item.Cantidad
                </td>
                <td>
                    @item.Productos.Nombre
                </td>
                <td>
                    @item.SubTotal
                </td>
                <td>
                    @item.Fecha_vencimiento
                </td>
                <td>
                </td>
            </tr>
        }
    }


</table>
    <div class="form-horizontal">
        @using (@Html.BeginForm("Comprar", "Proveedores", FormMethod.Post))
        {
            <input type="submit" value="Pagar" class="btn btn-success" />
        }
    </div>
