@using Ecommerce.Models;
@model Ecommerce.Models.Empleados
@{
    ViewBag.Title = "Compra proveedor";
    Layout = "~/Views/Shared/_LayoutProvedores.cshtml";
}

<h2>Compra proveedor</h2>
<div class="form-horizontal">
    <div class="row">
        <div class="col-md-1">
            <label>Proveedor:</label>
        </div>
        <div class="col-md-4">
            @ViewBag.Compra_proveedor.Nombre
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Tipo de Pago:</label>
        </div>
        <div class="col-md-4">
            <select>
                <option value="3">Contado</option>
            </select>
        </div>


    </div>
    <div class="row">
        <div class="col-md-1">
            <label>Total:</label>
        </div>
        <div class="col-md-4">
            @ViewBag.Compra_total
        </div>

    </div>
    <div class="text-right">
        <form>
            <p>
                <button class="btn btn-success" formaction="/Proveedores/Agregar_Producto">Agregar Producto</button>
            </p>
        </form>
    </div>
</div>
<table class="table">
    <tr>

        <th>
            Cantidad
        </th>
        <th>
            Productos
        </th>
        <th>
            Subtotal
        </th>
        <th>
            Fecha de vencimiento
        </th>
        <th></th>
    </tr>
    @if (ViewBag.Compra_detalles != null)
    {
        foreach (DetalleCompras item in ViewBag.Compra_detalles)
        {
            <tr>
                <td>
                    @item.Cantidad
                </td>
                <td>
                    @item.Productos.Nombre
                </td>
                <td>
                    @item.SubTotal
                </td>
                <td>
                    @item.Fecha_vencimiento
                </td>
                <td>
                </td>
            </tr>
        }
    }


</table>
    <div class="form-horizontal">
        @using (@Html.BeginForm("Comprar", "Proveedores", FormMethod.Post))
        {
            <input type="submit" value="Pagar" class="btn btn-success" />
        }
    </div>
